body {
  position: relative;
}
h2 {
  color: var(--text-color);
  font-size: 2.6rem;
  font-weight: 500;
  text-align: center;
  margin: 1.5rem 0;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.radio-form-container {
  display: flex;
  color: var(--text-color);
  justify-content: space-between;
  width: 100%;
}
.radio-key {
  display: flex;
  flex-direction: column;
}
.radio-key > p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.radio-key-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}
.radio-key-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #eee;
  border-radius: 50%;
}
.radio-key-container:hover input ~ .radio-mark {
  background-color: #ccc;
}
/* When the radio button is checked */
.radio-key-container input:checked ~ .radio-mark {
  background-color: var(--selection-color);
}
/* Create the indicator*/
.radio-mark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator when checked */
.radio-key-container input:checked ~ .radio-mark:after {
  display: block;
}
.radio-key-container .radio-mark:after {
  top: 8px;
  left: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}
.btn-container {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  min-width: 32%;
}

@media screen and (max-width: 1200px) {
  .btn-container{
    min-width: 40%;
  }
}
@media screen and (max-width: 950px) {
  .btn-container{
    min-width: 50%;
  }
}
.btn-container .random-btn {
  background-color: #69757d;
  padding: .9rem 1.1rem;
  margin: 1rem 0;
}
.random-btn i,
.clear-all-btn i {
  font-size: 1.3rem;
  padding-right: .5rem;
}
.random-btn:hover {
  background-color: var(--text-color);
  color: black;
}
.btn-container .clear-all-btn {
  background-color: #f40000;
  padding: .9rem 1.1rem;
  margin: 1rem 0;
}
.clear-all-btn:hover {
  background-color: hsl(0, 100%, 38%);
}
.search-btn {
  width: 80%;
  margin: 3rem 0 1rem 0;
}

@media screen and (max-width: 800px) {
  .radio-form-container {
    flex-direction: column;
    padding: 0 1rem;
  }
  .btn-container {
    max-width: 80%;
    width: 80%;
    margin: 0 auto;
  }
  .search-btn {
    margin-top: 1.5rem;
  }
}

/* ----- Result Div ------------- */
.result {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 120px 0;
}
@media screen and (max-width: 400px) {
  .result {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.main-section > .result-center {
  display: flex;
}
.error-message {
  color: hsl(0, 90%, 70%);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem 0;
}
.new-album {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: .8rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, .18);
  height: 100%;
  width: 100%;
  max-height: fit-content;
  max-width: 360px;
  justify-self: center;
}
.mark-btn {
  color: white;
  font-size: .9rem;
  padding: .4rem .6rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: .2s;
  align-self: flex-start;
}
.mark-listened-btn {
  background-color: #00a652;
}
.mark-listened-btn i,
.undo-listened-btn i {
  padding: 0 .2rem 0 0;
}
.mark-listened-btn:hover {
  background-color: hsl(150, 100%, 23%);
}
.undo-listened-btn {
  background-color: gray;
}
.undo-listened-btn:hover {
  background-color: hsl(0, 0%, 40%);
}

.album-img {
  max-width: 190px;
  border: 1px solid white;
  border-radius: 2px;
  margin: .8rem;
}
.new-album h4 {
  font-weight: 400;
  text-align: center;
  margin: .3rem 0;
}
.album-links {
  display: flex;
}
.album-links a {
  font-size: 0;
  margin: .2rem;
}
.album-icon {
  background-color: black;
  border-radius: 4px;
  text-align: center;
  padding: 2px;
}

/* ---------- Footer ----------- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: hsl(220, 10%, 18%);
  color: var(--text-color);
  font-size: .9rem;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-top: 4px solid hsl(0, 0%, 75%);
}
.icons-reference {
  display: flex;
  flex-direction: column;
}
footer a {
  color: var(--text-color);
  text-decoration: none;
}